 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Technologies I know</h2>
      <i class="devicon-cplusplus-plain"></i>
      <i class="devicon-python-plain"></i>
      <i class="devicon-typescript-plain"></i>
      <p>{{site.about1}}</p>
    </div>
    <div class="tech">
      <h2>Places I've Worked</h2>
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <img src="../assets/img/409px-Akamai_logo.png"></img>
      <p>{{site.about2}}</p>
    </div>
    <div class="tech">
      <h2>Some Courses I've Taken</h2>
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <p>{{site.about3}}</p>
    </div>
</div>
