<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xLffg8iiZPw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents">
    <h3> Beatboxer on an Embedded System </h3>
    <ul>
      <li>C</li>
      <li>Multithreading</li>
      <li>UDP networking</li>
      <li>Bit-twiddling</li>
      <li>ALSA audio</li>
      <li>Web sockets</li>
      <li>NodeJS, Jquery</li>
    </ul>
    
    <p>{{site.proj1_top}}</p>
    <img alt="beatboxer" src="{{ "/assets/img/beatboxer.png" | prepend: site.baseurl }}" />
    <p>{{site.proj1_bottom}}</p>

    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OSjaFn4PI-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents-right">
    <h3> Linux Driver to Flash Morse </h3>
    <ul>
      <li>C</li>
      <li>Bit manipulation and masking</li>
      <li>Kernel FIFO queues</li>
      <li>Modifying and compiling a custom kernel</li>
      <li>Custom device trees</li>
      <li>– — .-. … . / -.-. — -.. . -.-.–</li>
    </ul>
    <p>{{site.proj2}}</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="https://i.imgur.com/eESPHGH.gif"/>
  </div>
  <div class="contents">
    <h3> S-Talk (My own Netcat)</h3>
    <ul>
      <li>C</li>
      <li>Multithreading</li>
      <li>UDP networking</li>
      <li>Dynamic memory allocation</li>
      <li>Critical sections, mutexes and semaphores</li>
    </ul>
    <p>{{site.proj3}}</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xjsURRfbwSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="contents-right">
    <h3> Using Chaos for Secure Communication and Data Encryption </h3>
    <ul>
      <li>MATLAB</li>
      <li>Runge-Kutta and Euler's Numerical Methods</li>
      <li>Lyapunov exponents and functions</li>
    </ul>
    <p>{{site.proj4}}</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>